<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tamanoir · Phoenix Framework</title>
  <link rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}  />
  </head>
  <body class="text-gray-600 bg-white">
  <nav>
    <div class="mx-auto px-6 py-2  flex justify-between items-center bg-gray-100 shadow-sm">
      <div class="inline">
        <a class="font-bold text-4xl" href="#">Tamanoir</a>
      </div>
      <div class="inline mx-10 text-left ">
      <ul class="inline-flex ">
      <li class="px-4">Dashboard</li>
      <li class="px-4">Tickets</li>
      <li class="px-4">Administration</li>
      </ul>
      </div>
      <div class="inline text-right">

      <img src="https://github.com/paulhenri/tamanoir/raw/main/anteater-pngrepo-com.png?raw=true" class="w-10 h-10 inline" />
      <%= render("_user_menu.html", [conn: @conn, current_user: @current_user]) %>
      </div>
    </div>
  </nav>


    <main role="main" class="w-screen">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
